.origin-checkbox {
  display: none;
}

.slf-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    border: 2px solid var(--primary-color-200);
    box-shadow: 0px 0px 3px 5px #ff385c7d;
  }

  & * {
    opacity: 0;
    transition: opacity 0.2s;
  }

  &--md {
    width: var(--checkbox-size-md);
    height: var(--checkbox-size-md);
  }

  &--sm {
    width: var(--checkbox-size-sm);
    height: var(--checkbox-size-sm);
  }

  &--squareCheck, &--squareSymbol {
    border-radius: var(--checkbox-border-radius);
    color: var(--primary-color-200);
    border: var(--checkbox-border);
  }

  &--squareCheck.slf-checkbox--checked, &--squareSymbol.slf-checkbox--checked {
    border: var(--checkbox-checked-border);
  }

  &--circleCheck, &--circleSymbol {
    border-radius: 50%;
    color: var(--primary-color-200);
    border: var(--checkbox-checked-border);

    & .checkbox-cicle {
      width: var(--checkbox-circle-size);
      height: var(--checkbox-circle-size);
      border-radius: 50%;
      background-color: var(--checkbox-circle-bg);
    }
  }

  &--circleCheck.slf-checkbox--checked  {
    color: var(--checkbox-checked-color);
    background-color: var(--checkbox-checked-bg);
  }

  &--checked {
    box-shadow: 0px 0px 0px 0px #0000004a;

    & * {
      opacity: 1;
    }
  }
}

.origin-checkbox:disabled + .slf-checkbox {
  border: 2px solid var(--fill-color-75);
  background-color: var(--border-color-50);
  color: var(--fill-color-75);

  &:hover {
    box-shadow: 0px 0px 0px 0px rgba(var(--fill-color-75), 0.2);
  }

  & .checkbox-cicle {
    background-color: var(--fill-color-75);
  }
}
