@if (Label()) {
  <label for="{{Id()}}" [ngStyle]="LabelStyles()">{{Label()}}</label>
}


  <textarea
    [ngClass]="ClassList()"
    class="slf-textarea"
    [id]="Id()"
    [name]="Name()"
    [placeholder]="Placeholder()"
    [formControl]="FormControl()"
    [readonly]="ReadOnly()"
    [ngStyle]="InputStyles()"
    (change)="handleChange($event)"
    (keyup)="onKeyUp.emit($event)"
    (keydown)="onKeyDown.emit($event)"
    (focus)="onFocus.emit($event)"
    (blur)="onBlur.emit($event)">
  </textarea>


@if (Error()) {
  <p class="slf-input__hint input-error" [ngStyle]="{'opacity': Error() ? '1' : '0'}" >{{Error()}}</p>
} @else if (Hint()) {
  <p class="slf-input__hint" [ngStyle]="{'opacity': Hint() ? '1' : '0'}" >{{Hint()}}</p>
}
