:host {
  position: relative;
  display: grid;
  gap: .5rem;
  font-family: Satoshi;
  width: 100%;

  label {
    font-size: var(--textarea-label-font-size);
    font-weight: var(--textarea-label-font-weight);
    color: var(--textarea-label-color);
    height: 3.6rem;
    display: flex;
  }

  .slf-textarea {
    width: 100%;
    height: 100%;
    font-family: var(--textarea-font-family);
    padding: var(--textarea-padding);
    border: var(--textarea-border);
    border-radius: var(--textarea-border-radius);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    font-size: var(--textarea-font-size);
    font-weight: var(--textarea-font-weight);
    line-height: 20px;

    &::placeholder {
      color: var(--textarea-placeholder-color);
    }

    &:focus {
      border: var(--textarea-focus-border);
      outline: none;
    }

    &--error {
      border-color: var(--textarea-error-border);
    }

    &[disabled],
    &[readonly] {
      background-color: var(--textarea-disabled-bg);
      color: var(--textarea-disabled-color);
      border: var(--textarea-disabled-border);
      cursor: not-allowed;
    }
  }

  .slf-input__hint {
    font-family: Satoshi;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color-400);
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 1%;
    line-height: 14px;

    &.input-error {
      color: var(--error-color-200);
    }
  }

  @keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }

  .shake {
    animation: shake 0.2s ease-in-out 0s 2;
  }

}
